body {
  width: 1100px;
  angle: 0 deg;
  opacity: 1;
}

header {
  display: grid; 
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  width: 1100px;
  min-height: 293px;
  angle: 0 deg;
  opacity: 1;
  padding: 92px 50px 96px 50px;
}

.header__menu {
  width: 391.4786376953125px;
  min-height: 22.00001335144043px;
  angle: 0 deg;
  opacity: 1;
}

.header__links-list {
  display: flex;
  gap: 22px;
  list-style: circle;
}

.header__links-list-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0;
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link_no-active {
  margin-right: 12px;
  padding-left: 8px;
}

.header__logo {
  width: 148px;
  height: 105px;
  angle: 0 deg;
  opacity: 1;
  display: block;
  margin-right: 184px;
  margin-left: 36.52px;
}

address {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 24.3px;
  letter-spacing: 0;
  width: 240px;
  min-height: 98px;
  justify-self:center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cover {
  display: flex;
  justify-content: end;
  position: relative;
  min-height: 757px;
  width: 1100px;
  angle: 0 deg;
  opacity: 1;
  inset: 0;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 40px 50px;
  z-index: 1;
}

.overlay {
  inset: 0;
  position: absolute;
  angle: 0 deg;
  min-height: 100%; 
  width: 100%; 
  opacity: 0.6;
  background: #000000;
  z-index: -1;
}

.cover__title {
  width: 1000px;
  angle: 0 deg;
  opacity: 1;
  position: absolute;
}

.aligned-text {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 100px;
  leading-trim: NONE;
  letter-spacing: 30px;
  line-height: 114.99999999999999%;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.aligned-text_left {
  width: 286px;
  angle: 0 deg;
  opacity: 1;
  margin-bottom: 20px;
}

.aligned-text_center {
  width: 339px;
  angle: 0 deg;
  opacity: 1;
  margin-bottom: 20px;
  margin-left: 330.5px;
}

.aligned-text_right {
  width: 387px;
  angle: 0 deg;
  opacity: 1;
  margin-left: 613px;
}

.cover__description {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-bottom: 11px;
  padding-top: 12px;
}

.cover__description-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0;
  text-transform: uppercase;
  width: 637px;
  white-space: nowrap;
  word-spacing: 18px;
  angle: 0 deg;
  opacity: 1;
  color: #FFFFFF;
  padding-bottom: 11px;
  padding-top: 12px;
}

.bet-button {
  width: 256px;
  height: 51px;
  angle: 0 deg;
  opacity: 1;
  border-width: 1px;
  border: 1px solid #FFFFFF;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 32px 11px 31px;
  margin-left: 107px;
}

.lots {
  width: 1052px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 180px;
  margin-bottom: 120px;
  margin-left: 24px;
  margin-right: 24px;
}

.lots__heading {
  width: 100%;
  angle: 0 deg;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 40px;
  margin-right: 891px;
  margin-bottom: 36px;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style-type: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  margin-bottom: 30px;
}

.card-link .card {
  height: 100%;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 45px 40px 50px 40px;
  inset: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  color: #FFFFFF;
  margin-bottom: auto;
  z-index: 2;
}

.card__text {
  font-family: 'Raleway',sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 120%;
  letter-spacing: 0;
  color: #FFFFFF;
  z-index: 2;
}

.lots__look-more-link {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0;
}

.about {
  display: grid;
  grid-template-columns: 334px 693px;
  margin-bottom: 180px;
  margin-right: 24px;
  margin-left: 24px;
  width: 1052px;
  angle: 0 deg;
  opacity: 1;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  angle: 0 deg;
  opacity: 1;
  background: #000000;
  margin-top: 35px;
  margin-left: 47px;
  margin-right: 72px;
  margin-bottom: 320px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  angle: 0 deg;
  opacity: 1;
}

.about__column {
  width: 693px;
  angle: 0 deg;
  opacity: 1;
  margin-top: 138px;
  padding-left: 25px;
}

.about__title {
  angle: 0 deg;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0;
  white-space: nowrap;
  text-transform: uppercase;
  margin-bottom: 105px;
  margin-right: 402px;
}

.about__paragraph {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  width: 693px;
  angle: 0 deg;
  opacity: 1;
}

.about__text {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0;
  angle: 0 deg;
  opacity: 1;
}

footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  width: 1100px;
  min-height: 180px;
  angle: 0 deg;
  opacity: 1;
  padding-top: 1px;
  padding-right: 50px;
  padding-left: 50px;
}

.footer__menu {
  width: 163.89999389648438px;
  min-height: 64px;
  angle: 0 deg;
  opacity: 1;
  border-width: 1px;
  margin-left: 175px;
  margin-top: 1px;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-list-item {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 115%;
  letter-spacing: 0;
  text-align: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list{
  display: flex;
  width: 240px;
  min-height: 48px;
  angle: 0 deg;
  opacity: 1;
  gap: 48px;
  margin-left: 177.5px;
}

.footer__social-list-item {
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  angle: 0 deg;
  opacity: 1;
  border-width: 1px;
}
